/* Main Container */
.mainContainer {
    position: relative;
    margin-top: 35px;
    height: fit-content;
    border: 3px solid yellow;
    padding: 20px 40px;
}

/* mainContainer Header */
.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    margin-top: 25px;
    border: 2px solid purple;
}

.heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: darkcyan;
}

.heading p {
    font-size: 18px;
    color: darkcyan;
    margin-bottom: 35px;
}

/* ABOUT US SECTION */
.aboutUs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid pink;
}

/* About Us Image */
.aboutUs-img {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
    border: 2px #000 solid;
}

.aboutUs-img img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.aboutUs-img:hover img {
    transform: scale(1.2);
}

/* About Us Content */
.aboutUs-content {
    flex: 1;
}

.aboutUs-content h2 {
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 15px;
    color: black;
}

.aboutUs-content p {
    font-size: 18px;
    line-height: 1.5;
    color: black;
}

.aboutUs-content .moreAboutUs {
    display: none;
}

/* Read More About Us Button */
.read-more-aboutUs, .read-less-aboutUs {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    font-size: 19px;
    border-radius: 25px;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    transition: .8s ease;
}

.read-more-aboutUs:hover, .read-less-aboutUs:hover {
    background-color: #34495e;
    border: 1px solid transparent;
    color: cyan;
}

#ch1 {
    display: none;
}

#ch1:checked ~ .moreAboutUs {
    display: block;
}

#ch1:checked ~ .read-more-aboutUs {
    display: none;
}

/* ABOUT PESO SECTION */
.aboutPeso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    border: 2px solid pink;
}

/* About Peso Image */
.aboutPeso-img {
    flex: 1;
    margin-left: 40px;
    overflow: hidden;
    /* border for visualization */
    border: 2px #000 solid;
}

.aboutPeso-img img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.aboutPeso-img:hover img {
    transform: scale(1.2);
}

/* About Peso Content */
.aboutPeso-content {
    flex: 1;
}

.aboutPeso-content h2 {
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 15px;
    color: black;
}

.aboutPeso-content p {
    font-size: 18px;
    line-height: 1.5;
    color: black;
}

.aboutPeso-content .moreAboutPeso {
    display: none;
}

/* Read More About Peso Button */
.read-more-aboutPeso, .read-less-aboutPeso{
    display: inline-block;
    padding: 10px 20px;
    color: black;
    font-size: 19px;
    border-radius: 25px;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    transition: .8s ease;
}

.read-more-aboutPeso:hover, .read-less-aboutPeso:hover{
    background-color: #34495e;
    border: 1px solid transparent;
    color: cyan;
}

#ch2 {
    display: none;
}

#ch2:checked ~ .moreAboutPeso {
    display: block;
}

#ch2:checked ~ .read-more-aboutPeso {
    display: none;
}

/* Window size adaptor hehe */
@media screen and (max-width: 768px) {
    .heading {
        padding: 0px 20px;
    }

    .heading h1 {
        font-size: 36px;
    }

    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
    }

    .container {
        padding: 0px;
    }

    .aboutUs,
    .aboutPeso {
        padding: 20px;
        flex-direction: column;
    }

    .aboutUs-img,
    .aboutPeso-img {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .aboutUs-content p,
    .aboutPeso-content p {
        padding: 0px;
        font-size: 16px;
    }

    .aboutUs-content .read-more-aboutUs,
    .aboutPeso-content .read-more-aboutPeso {
        font-size: 16px;
    }
}