/* Main Container */
.mainContainer {
    position: relative;
    margin-top: 85px;
    height: 1000px;    
    border: 3px solid yellow;
    padding: 20px;
}

.scrollable-container {
    max-height: 1000px; /* Set the maximum height to enable scrolling */
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.data-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 5;
}

#admin_button{
    position: relative;
    background: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    padding: 0;
    color: red;
    cursor: pointer;
    margin: 0;
    user-select: none;
}

#submit_button{
    position: relative;
    float: right;
    margin-top: 10px;
}

#signin_button{
    position: relative;
    margin-top: 10px;
}

#prompt-box {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}