/* Main Container */
.mainContainer {
    position: relative;
    margin-top: 85px;
    height: fit-content;
    border: 3px solid yellow;
    background-color: #dddd;
}

label {
    font-weight: bold;
}

.scrollable-container {
    position: relative;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    width: 70%;
}

.data-item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.data-item img {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 150px;
    height: 200px;
    border: 1px solid;
}

.form-container {
    position: relative;
    margin: 20px;
    display: flex;
    align-items: center;
}

.label {
    margin-right: 20px;
}

.text-field {
    width: 200px;
    /* Adjust the width as needed */
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 5;
}

#admin_button {
    position: relative;
    background: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    padding: 0;
    color: red;
    cursor: pointer;
    margin: 0;
    user-select: none;
}

#submit_button {
    position: relative;
    float: right;
    margin-top: 10px;
}

#signin_button {
    position: relative;
    margin-top: 10px;
}

#prompt-box {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}